<canvas id='myChart'> 
    <div>
        <p>Cigarettes per week: {{howManyCigs}}</p>
        <p>Money spent per week: {{moneySpentPerWeek}}</p>
        <img src="data:image/png;base64, {{chart}}">
    </div>
</canvas>