<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Quit Smoking in 90 Days!</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>

  <header>
    <div class="container text-bg-dark p-3">
      <div class="row ">  
        <div class="col-12 col-sm-9">
          <h1 class="text-center">Quit smoking in 90 Days</h1>
        </div>
        <div class="col-12 col-sm-3 justify-content-md-end">
          <a href="/">Home</a>
          <a href="/stories">Stories</a>
          <a href="/scared">ScareyLink</a>
              {{#if logged_in}}
          <a href="/profile">profile</a>
              |
          <button class="no-button" id="logout">logout</button>
              {{else}}
              <a href="/login">login</a>
              {{/if}}
        </div>
      </div>
    </div>

</header>

        {{{body}}}
      </main>
    <footer class="text-bg-dark p-3">

        <h5 class="text-center">Made by Jon, Joe, Ben, and Tom</h5>
    </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

      <script>
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
      </script>
  </body>
</html>