<div>
<h2>Welcome {{User.name}} !</h2>
    <p>This is your custom plan to quit smoking over the next 90 days</p>
</div>

{{if QuitPlan.length}}
<div>
    

</div>
{{/if}}

<div>
{{!-- <h3>Remember You're Quiting!</h3>
    <p>I used to smoke {{QuitPlan.hoeManyCigs}} per day</p>
    <p>I gave up {{QuitPlan.timeSmoking}} a day to smoking</p>

</div> --}}




