


<div>
<iframe src="https://ourworldindata.org/grapher/number-of-deaths-by-risk-factor?country=~USA" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
</div>

<div class="container text-bg-danger p-3">
    <div class="row">
    <div class="col-12 col-md-6">
        <h3 class="text-center">Smoking Facts</h3>
        <ul>
            <li>Smoking leads to disease and disability and harms nearly every organ of the body.</li>
            <li>Cigarette smoking remains the leading cause of preventable disease, disability, and death in the United States.<li>
            <li>The tobacco industry spends billions of dollars each year on marketing cigarettes.</li>
            <li>Smoking costs the United States hundreds of billions of dollars each year.</li>
            <li>States do not spend much of the money they get from tobacco taxes and lawsuits to prevent smoking and help smokers quit. CDC recommends that states spend 12% of those funds on tobacco control.</li>
            <li>In 2020, 12.5% of U.S. adults (an estimated 30.8 million people) currently smoked cigarettes: 14.1% of men, 11% of women.</li>
            <li>Each day, about 1,600 youth try their first cigarette.</li>
            <li>Many adult cigarette smokers want to quit smoking.</li>
        </ul>
    </div>
    <div class="col-12 col-md-6">        
        <img id="lungs" src="/images/lung3.jpeg" width="100%" height="auto">
    </div>

</div>